.a-box{
	width:100%;
	height:100%;
	padding:1.5em;
	position:absolute;
	left:0;
	top:0;
	background:#000;
	opacity:0;
	transition: all 500ms;
	-moz-transition: all 500ms;	/* Firefox 4 */
	-webkit-transition: all 500ms;	/* Safari 和 Chrome */
	-o-transition: all 500ms;	/* Opera */
	text-align:center;
	filter:alpha(opacity=0)；
}
.a-box:hover{
	opacity:0.8;
	cursor:pointer;
	filter:alpha(opacity=80)；
}

.header .pure-menu {
    border-bottom-color: black;
    border-radius: 0;
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.photo-box-thin {
    height: 120px;
}


.photo-box img {
	width: 100%;
	height: auto;
	min-height: 250px;
}
.text-box {
    background: rgb(49, 49, 49); /* bluish grey */
    color: rgb(255, 190, 94); /* steel blue */
}

.text-box-head {
	color: #fff;
	padding-bottom: 0.2em;
	padding-top:2.0em;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 1.5em;
	line-height: 1.5em;
	margin-top:2em;
}

.text-box-subhead {
	font-weight: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:#FFF;
}

.form-box {
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #eee;
}

    .form-box .pure-button {
        background-color: #61B842;
        color: white;
        vertical-align: top;
        font-size: 85%;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        border-radius: 4px;
        margin: 0.3em;
    }
    .pure-form input[type] {
        margin: 0.3em auto;
        text-align: center;
    }

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}
